*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 800px;
    min-width: 300px;
}

#continer{
    background-color: #601cfc;
    border: 4px solid black;
    max-width: 50%;
    margin-top: 10px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

h1{
    max-width: 100%;
  color: #f0f0f0;
  text-decoration: underline;
  border: 4px solid black;
  padding: 10px ;
  margin-top:10px ;
  
}
img{
    border: 4px solid black;
    margin-top: 15px;
    max-width: 100%;
    
}

p{
    color: #bbfc1c;
}
#outro{
    font-size: 18px;
    margin: 15px 0;
}
#first-p{
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;
}
.hr-class{
    border: 2px solid;
}

ul{
    list-style: none;
    margin: 15px 0;
}
li{
   font-size: 20px;
}

li span{
    color: #bbfc1c;
    font-weight: normal;
}
p span{
    font-weight: 600;
}

a{
    color: #f0f0f0;
}